<!DOCTYPE html>
<html>
<head>
    <title>Sentiment Tester</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
</head>
<body>
<div class="container">
    <h1>Sentiment Tester</h1>
    <div class="row">
        <div class="col-md-6">
            <form action="{{ url_for('evaluate_api') }}" method="post">
                <div class="form-group">
                    <label for="comment">Comment:</label>
                    <textarea class="form-control" rows="5" id="input" name="input"></textarea>
                </div>
                <input type="submit">
            </form>
        </div>
        <div class="col-md-6">
            <p>output:</p>
        </div>
    </div>
</div>
</body>
</html>
